language: c

dist: trusty

addons:
  apt:
    packages:
    - libsdl2-dev
    - cmake
    - cmake
    - doxygen
    - graphviz
    
matrix:
  include:
  - os: linux
    compiler: gcc
    after_success:
    - tar -zcvf SDL_gpu-bin-linux-gcc.tar.gz lib
    - tar -zcvf SDL_gpu-docs.tar.gz html
  - os: linux
    compiler: clang
  - os: osx
    compiler: gcc
    before_install:
    - brew update
    - brew install
        sdl2
  - os: osx
    compiler: clang
    before_install:
    - brew update
    - brew install
        sdl2

script: make